body{
    text-align: center;
    background-color: black;
    color: white;
}

#form{
    margin-top: 10px;
    background-color: dimgray;
    color: white;
    display: inline-block;
    padding: 50px;
    font-weight: bold;
    border-radius: 5%;
    font-size: larger;
    text-align: left;

}

select{
    padding:10px;
    font-weight: bold;
    margin-top: 20px;
}

#ok{
    margin-top: 20px;
    border: 2px solid black;
}

#back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
    display: none;
}

#front{
    background-color: black;
    z-index: 10;
    position: absolute;
    border-radius: 5%;
    padding: 50px;
    display: none;
    text-align: left;
    border: 2px solid white;
}

button{
    padding: 10px;
    background-color: lightgreen;
    border: 3px solid white;
    border-radius: 20%;
}

#ticket{
    background-color: grey;
    z-index: 10;
    position: absolute;
    border-radius: 5%;
    left: 40%;
    padding: 50px;
    display: none;
    text-align: center;
    color: black;
    transition: 2;
}
